[submodule "dependencies/glfw/glfw"]
	path = dependencies/glfw/glfw
	url = https://github.com/glfw/glfw
[submodule "dependencies/glm/glm"]
	path = dependencies/glm/glm
	url = https://github.com/g-truc/glm
